In [1]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_csv("../data/raw/filtered_canada_num.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,REF_DATE,GEO,DGUID,Gender,Type of corporation,Country,Industry,Size of enterprise,...,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,0,420,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1352138562,1.1.1.2.1.1.1.1,3455.0,NaN,NaN,NaN,0
1,2,422,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695348,1.1.1.2.1.1.2.1,4277.0,NaN,NaN,NaN,0
2,4,424,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695349,1.1.1.2.1.1.3.1,1110.0,NaN,NaN,NaN,0
3,6,426,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695350,1.1.1.2.1.1.4.1,3167.0,NaN,NaN,NaN,0
4,8,428,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,First quartile,...,223,units,0,v1352152062,1.1.1.2.1.2.1.1,652.0,NaN,NaN,NaN,0

In [3]:
df['Executive'].unique()

array(['Directors', 'All officers\xa0', 'Top officers\xa0',
       'Other officers\xa0'], dtype=object)

In [4]:
# We are only planning to manipulate province (GEO), Year (REF_DATE) and Industry (Industry)
# I will thus only retain the data corresponding to 'Total all corporations/sizes etc'
filtered_df = df.query('`Type of corporation` == "Total all corporations" & `Size of enterprise` == "Total all sizes"')
filtered_df = filtered_df.query('Executive == "All officers\xa0"')
filtered_df.head()

,Unnamed: 0.1,Unnamed: 0,REF_DATE,GEO,DGUID,Gender,Type of corporation,Country,Industry,Size of enterprise,...,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1,2,422,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695348,1.1.1.2.1.1.2.1,4277.0,NaN,NaN,NaN,0
22,44,464,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Finance,Total all sizes,...,223,units,0,v1428693773,1.1.1.2.2.1.2.1,1553.0,NaN,NaN,NaN,0
43,86,506,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Utilities,Total all sizes,...,223,units,0,v1428695123,1.1.1.2.3.1.2.1,134.0,NaN,NaN,NaN,0
64,128,548,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Management of companies and enterprises,Total all sizes,...,223,units,0,v1428693323,1.1.1.2.4.1.2.1,661.0,NaN,NaN,NaN,0
85,170,590,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Distributive trade,Total all sizes,...,223,units,0,v1428694448,1.1.1.2.5.1.2.1,198.0,NaN,NaN,NaN,0

In [5]:
filtered_df.to_csv('../data/filtered/cards_data.csv', index=False)

In [6]:
filtered_df.GEO.unique() # Options for province filtering (later)

array(['Canada, total', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Nova Scotia', 'New Brunswick', 'Quebec',
       'Ontario', 'Manitoba', 'Saskatchewan', 'Alberta',
       'British Columbia', 'Yukon', 'Northwest Territories', 'Nunavut',
       'Unclassified province or territory'], dtype=object)

According to our Milestone 1 proposal, the aim of the cards is to show the overall proportion (%) of males and females in the subset selected. <br>
IDEA FOR FUTURE: Might need to make a way to disallow selection of `Canada, total` if we select some province(s), since there will be an overlap. Not sure how to do this yet.

In [7]:
# Aim: Cards showing overall % of males and females in all of Canada
women_df = filtered_df.query('Gender == "Women"')
women_df.head()

,Unnamed: 0.1,Unnamed: 0,REF_DATE,GEO,DGUID,Gender,Type of corporation,Country,Industry,Size of enterprise,...,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1,2,422,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695348,1.1.1.2.1.1.2.1,4277.0,NaN,NaN,NaN,0
22,44,464,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Finance,Total all sizes,...,223,units,0,v1428693773,1.1.1.2.2.1.2.1,1553.0,NaN,NaN,NaN,0
43,86,506,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Utilities,Total all sizes,...,223,units,0,v1428695123,1.1.1.2.3.1.2.1,134.0,NaN,NaN,NaN,0
64,128,548,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Management of companies and enterprises,Total all sizes,...,223,units,0,v1428693323,1.1.1.2.4.1.2.1,661.0,NaN,NaN,NaN,0
85,170,590,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Distributive trade,Total all sizes,...,223,units,0,v1428694448,1.1.1.2.5.1.2.1,198.0,NaN,NaN,NaN,0

In [8]:
men_df = filtered_df.query('Gender == "Men"')
men_df.head()

,Unnamed: 0.1,Unnamed: 0,REF_DATE,GEO,DGUID,Gender,Type of corporation,Country,Industry,Size of enterprise,...,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1051,2102,17822,2016,"Canada, total",2021A000011124,Men,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428605348,1.2.1.2.1.1.2.1,10114.0,NaN,NaN,NaN,0
1072,2144,17864,2016,"Canada, total",2021A000011124,Men,Total all corporations,Canada,Finance,Total all sizes,...,223,units,0,v1428603773,1.2.1.2.2.1.2.1,3069.0,NaN,NaN,NaN,0
1093,2186,17906,2016,"Canada, total",2021A000011124,Men,Total all corporations,Canada,Utilities,Total all sizes,...,223,units,0,v1428605123,1.2.1.2.3.1.2.1,301.0,NaN,NaN,NaN,0
1114,2228,17948,2016,"Canada, total",2021A000011124,Men,Total all corporations,Canada,Management of companies and enterprises,Total all sizes,...,223,units,0,v1428603323,1.2.1.2.4.1.2.1,1564.0,NaN,NaN,NaN,0
1135,2270,17990,2016,"Canada, total",2021A000011124,Men,Total all corporations,Canada,Distributive trade,Total all sizes,...,223,units,0,v1428604448,1.2.1.2.5.1.2.1,514.0,NaN,NaN,NaN,0

In [32]:
# # From lecture notes - Code for cards in app
# from dash import Dash, dcc, callback, Output, Input, html
# import dash_bootstrap_components as dbc
# import dash_vega_components as dvc
# import altair as alt
# from vega_datasets import data


# cars = data.cars()

# # Initiatlize the app
# app = Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

# # Components
# title = [html.H1('carXplorer'), html.Br()]
# global_widgets = [
#     dbc.Label('Select x-column'),
#     dcc.Dropdown(id='x-col', options=cars.columns, value='Horsepower'),
#     html.Br(),
#     dbc.Label('Filter on Origin'),
#     dcc.Dropdown(id='origin-filter', options=cars['Origin'].unique(), value='USA'),
# ]
# card_avg = dbc.Card(id='card-avg')
# card_count = dbc.Card(id='card-count')
# scatter_chart = dvc.Vega(
#     id='scatter',
#     spec={},
#     signalsToObserve=['scatter_select'],
#     style={'width': '100%'}
# )

# # Layout
# app.layout = dbc.Container([
#     dbc.Row(dbc.Col(title)),
#     dbc.Row([
#         dbc.Col(global_widgets, md=4),
#         dbc.Col(
#             [
#                 dbc.Row([dbc.Col(card_avg), dbc.Col(card_count)]),
#                 dbc.Row(dbc.Col(scatter_chart))
#             ],
#             md=8
#         )
#     ])
# ])

# # Server side callbacks/reactivity
# @callback(
#     Output('scatter', 'spec'),
#     Output('card-avg', 'children'),
#     Output('card-count', 'children'),
#     Input('x-col', 'value'),
#     Input('origin-filter', 'value'),
#     Input('scatter', 'signalData'),
# )
# def create_chart(x_col, origin, signal_data):
#     chart_df = cars[cars['Origin'] == origin]
#     selection = alt.selection_interval(name='scatter_select')
#     chart = alt.Chart(chart_df, width='container').mark_point().encode(
#             x=x_col,
#             y='Miles_per_Gallon',
#             tooltip='Origin',
#             opacity=alt.condition(selection, alt.value(0.8), alt.value(0.2))
#         ).add_params(
#             selection
#         ).to_dict()

#     brush_selection = signal_data.get("scatter_select", {})
#     if brush_selection:
#         filter = " and ".join(
#             [f"{v[0]} <= `{k}` <= {v[1]}" for k, v in brush_selection.items()]
#         )
#         chart_df_filtered = chart_df.query(filter)
#     else:
#         chart_df_filtered = chart_df
#     card_count = [
#         dbc.CardHeader('Points in selection'),
#         dbc.CardBody(f'{chart_df_filtered.shape[0]}')
#     ]
#     card_avg = [
#         dbc.CardHeader(f'Average {x_col}'),
#         dbc.CardBody(f'{chart_df_filtered[x_col].mean() :.1f}')
#     ]
#     return chart, card_avg, card_count

# # Run the app/dashboard
# if __name__ == '__main__':
#     app.run(debug=True, host='127.0.0.1')

In [53]:
# Trials for card application
from dash import Dash, dcc, callback, Output, Input, html
import dash_bootstrap_components as dbc
import dash_vega_components as dvc
import altair as alt
from vega_datasets import data


card_data = pd.read_csv('../data/filtered/cards_data.csv')

# Initialize the app
app = Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

# Components
title = [html.H1('Juno'), html.Br()]
province_columns = card_data['GEO'].unique()
industry_columns = card_data['Industry'].unique()
time_columns = card_data['REF_DATE'].unique()

global_widgets = [
    dbc.Label('Filter on Province'),
    dcc.Dropdown(id='province-filter', options=province_columns, value='Canada, total'),
    html.Br(),
    dbc.Label('Filter on Industry'),
    dcc.Dropdown(id='industry-filter', options=industry_columns, value='Total all industries'),
    dbc.Label('Filter on Year'),
    dcc.Dropdown(id='year-filter', options=time_columns, value= 2016)  # Might want to consider a multi-filter option for year
]
card_women = dbc.Card(id='card-women')
card_men = dbc.Card(id='card-men')


# Layout
app.layout = dbc.Container([
    dbc.Row(dbc.Col(title)),
    dbc.Row([
        dbc.Col(global_widgets, md=4),
        dbc.Col(
            [
                dbc.Row([dbc.Col(card_women), dbc.Col(card_men)])
            ],
            md=8
        )
    ])
])

# Server side callbacks/reactivity
@callback(
    Output('card-women', 'children'),
    Output('card-men', 'children'),
    Input('province-filter', 'value'),
    Input('industry-filter', 'value'),
    Input('year-filter', 'value'),
)
def calculate_proportion(province_filter, industry_filter, year_filter):
    # Implementing filtering based on widgets
    print(f'Card_df shape: {card_data.shape}')
    print(f"NA values in card df: {card_data['VALUE'].isna().sum()}")
    # card_data.dropna(subset=['VALUE'], inplace=True)
    # print(card_data)
    # Bug with filtering everything at once - will filter step wise
    geo_filtered_data = card_data[card_data['GEO'] == province_filter]
    # print(geo_filtered_data['GEO'].unique())
    # print(geo_filtered_data)
    industry_filtered_data = geo_filtered_data[geo_filtered_data['Industry'] == industry_filter]
    # print(industry_filtered_data['Industry'].unique())
    year_filtered_data = industry_filtered_data[industry_filtered_data['REF_DATE'] == year_filter]
    print(year_filtered_data['REF_DATE'].unique())
    filtered_data = year_filtered_data
    women_card_df = filtered_data.query('Gender == "Women"')
    men_card_df = filtered_data.query('Gender == "Men"')
    print(f"NA values in women df: {women_card_df['VALUE'].isna().sum()}")
    print(f"NA values in men df: {men_card_df['VALUE'].isna().sum()}")
    print(women_card_df.shape)
    total_people = filtered_data['VALUE'].sum()
    total_women = women_card_df['VALUE'].sum()
    total_men = men_card_df['VALUE'].sum()
    prop_women = (total_women / total_people) * 100
    prop_men = (total_men / total_people) * 100

    card_women_content = [
        dbc.CardHeader('Overall Proportion of Women in this Subset (%)'),
        dbc.CardBody(f'{round(prop_women, 2)} %')
    ]
    card_men_content = [
        dbc.CardHeader('Overall Proportion of Men in this Subset (%)'),
        dbc.CardBody(f'{round(prop_men, 2)} %')
    ]
    return card_women_content, card_men_content

# Run the app/dashboard
if __name__ == '__main__':
    app.run(debug=True, host='127.0.0.1')

Card_df shape: (1500, 23)
NA values in card df: 0
[2016]
NA values in women df: 0
NA values in men df: 0
(1, 23)